.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.right-section svg {
  cursor: pointer;
  color: var(--accent-yellow);
}

.back-arrow {
  cursor: pointer;
}